<div class="card mb-2 h-100">
	<div class="card-body">
        <h3 class="text-2xl pl-1">Chat</h3>
            <ul class="list-group" style="order:2;max-height:700px; overflow:auto;">

                <div class="" *ngIf="!globalVar.user.moreMessagesAvailable">
                    <div class="alert alert-info" role="alert">Keine weiteren Nachrichten verfügbar!</div>
                </div>
                <div class="" *ngIf="globalVar.user.moreMessagesAvailable">
                    <div class="alert alert-info" role="alert">
                        <a class="alert-link" (click) = "loadOldMessages()" >ältere Nachrichten Laden</a>
                    </div>
                </div>
                <li class="px-1" id="message{{message.time}}" *ngFor="let message of globalVar.user.chatMessages">
                    <span class="d-flex justify-content-between">
                        <div>
                            <span class="font-weight-bold">{{message.author}}:</span>
                            <p *ngIf="message.type == '1'">{{message.message}}</p>
                            <a *ngIf="message.type == '2'" target="_blank" href="{{message.message}}">{{message.message}}</a>
                            <span *ngIf="message.type == '3'">
                                <br>
                                <img src="{{message.message}}" [ngClass]="showFullscreen[message.id] == true ? 'showFullscreen' : ''" (click)=open(message)>
                            </span>
                        </div>
                        <p id="italic" class="text-muted date" title="{{message.time | date:'medium'}}">{{message.time | date:'d. MMM | HH:mm'}}</p>
                    </span>
                </li>
                <span #bottom></span>
            </ul>
		<form [formGroup]="newMessage" style="text-align:right;order:3">
			<input type="text" class="form-control mb-3"	formControlName="message" placeholder="Neue Nachricht eingeben" >
			<div class="btn-group btn-group-sm mr-3">
				<label class="btn btn-secondary" [ngClass]="{active: newMessage.value.type == 1}">
					<input type="radio" formControlName="type" class="custom-control-input" [value]="1">
					Text
				</label>
				<label class="btn btn-secondary" [ngClass]="{active: newMessage.value.type == 2}">
					<input type="radio" formControlName="type" class="custom-control-input" [value]="2">
					Link
				</label>
			</div>
			<label class="btn-group btn-group-sm">
				<button class="btn btn-secondary" (click)="save()">Senden</button>
				<!-- <button class="btn btn-secondary" (click)="scroll()">Scroll</button> -->
			</label>
		</form>

	</div>
</div>