.sliderText {
	margin:0 0;
}
button {
    cursor:pointer;
}
img {
    width: 100%;
    padding-right: 10px;
}
.showFullscreen {
    padding: 10px;
    position: fixed;
    z-index: 1200;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height:100%;
    width:auto;
    max-width:100%;
}
ul, h3{
    cursor: default;
}