.sliderText {
	margin:0 0;
}
button {
    cursor:pointer;
}
img {
    width: 20%;
    padding-right: 10px;
}
.showFullscreen {
    padding: 10px;
    position: fixed;
    z-index: 1200;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height:100%;
    width:auto;
    max-width:100%;
}
ul, h3{
    cursor: default;
}
li:hover {
    background-color: #d8eff3;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.date{
    white-space: nowrap;
    margin: 0;
}