
.material-icons{
    font-size: 20px;
}
button{
	height: 45px;
	cursor:pointer;
	margin:2px 5px 2px 0px;
	/* width:80px; */
	/* max-width:100px; */
	box-sizing: initial;
	border:0px;
	border-radius:0px;
	/* padding:0 1em; */

}
.devicename{
	white-space: nowrap; 
	text-align: inherit;
	margin: auto 0;
	color: #292b2c;
	cursor:default;
}
.buttonLabel{
	white-space: nowrap;
    /*text-overflow:ellipsis;*/
    overflow:hidden;
	margin: auto 0px;
	white-space: nowrap; 
	text-align: inherit;
}
.test{
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}