<div class="test flex justify-end">
	<div class="my-auto mr-auto">{{device.name}}</div>
	<div class="flex grow justify-end">
		<button
			class="btnOff unselectable flex justify-center grow max-w-[80px]"
            (click)="switchDevice({id: device.deviceid, status: 0})"
			>
            <i *ngIf="device.showStatus" class="material-icons boxOff">check_box{{device.status == "0" ? "":"_outline_blank"}}</i>
			<p class="buttonLabel">
				{{device.buttonLabelOff}}
			</p>
		</button>
		<button
			class="btnOn unselectable flex justify-center grow max-w-[80px]"
            (click)="switchDevice({id: device.deviceid, status: 1})"
			>
            <i *ngIf="device.showStatus" class="material-icons boxOn">check_box{{device.status == "0" ? "_outline_blank":""}}</i>
			<p class="buttonLabel">
				{{device.buttonLabelOn}}
			</p>
		</button>
	</div>
</div>