<div class="test d-flex justify-content-end">
	<div class="mr-auto devicename">{{device.name}}</div>
	<div class="d-flex" style="max-width:100%;">
		<button
			class="btnOn unselectable d-flex justify-content-center"
            (click)="switchDevice({id: device.deviceid, status: 1})"
			>
            <i *ngIf="device.showStatus" class="material-icons boxOn">check_box{{device.status == "0" ? "_outline_blank":""}}</i>
			<p class="buttonLabel">
			<!-- style="fill:#389B20" -->

				{{device.buttonLabelOn}}
			</p>
		</button>
		<button
			class="btnOff unselectable d-flex justify-content-center"
            (click)="switchDevice({id: device.deviceid, status: 0})"
			>
            <i *ngIf="device.showStatus" class="material-icons boxOff">check_box{{device.status == "0" ? "":"_outline_blank"}}</i>
			<p class="buttonLabel">
				{{device.buttonLabelOff}}
			</p>
		</button>
	</div>
</div>