<nav class="flex fixed-top w-100 p-2" style="background-color: #bee5eb;" >
    <a class="pointer pr-4" (click)="toogleFav(showFav)" title="Favoritenliste ein- ausblenden">
        <img src="./assets/icon.svg" width="40" height="40" alt="Icon">
    </a>
    <div class="flex justify-between w-100">
        <ul class="flex">
            <li *ngFor="let item of menu">
                <app-menu-item name={{item.name}} link={{item.link}} icon={{item.icon}}></app-menu-item>
            </li>
        </ul>
            <span dropdown class="my-auto flex pr-3">
                <i class="material-icons" id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">account_circle</i>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu  dropdown-menu-right" role="menu" aria-labelledby="basic-link">
                    <li class="px-3">Eingeloggt als {{globalVar.activeUser.name}}</li>
                    <li class="divider dropdown-divider"></li>
                    <li class="px-3">Anmelden als:</li>
                    <li *ngFor="let user of users; index as i;" (click)="setUser(user)">
                        <a class="dropdown-item pointer" *ngIf="user.name != globalVar.activeUser.name" style="display: flex;">
                            <i class="material-icons">person</i>{{user.name}}
                        </a>
                    </li>
                </ul>
            </span>
    </div>
</nav>
<div class="favorittile pl-1" *ngIf="showFav">
    <app-favorit-devices></app-favorit-devices>
    <app-active-devices></app-active-devices>
</div>
<app-alerts class="w-100"></app-alerts>
<div class="content" [class.favoritmenu]="showFav">
    <router-outlet></router-outlet>
</div>
<div class="bg" [style.background-image]="'url(' + globalVar.activeUser.background + ')'"></div>
<div class="loaderBg" *ngIf="globalVar.loading">
    <div class="loader">
        <div class="inner mx-auto">
            <div class="outer"></div>
        </div>
        <p class="">Verbinde zum Server...</p>
    </div>
</div>