<h3>Favoriten</h3>
<ul *ngIf="globalVar.user.favoritDevices.length > 0" class="list-group">
    <div
        *ngFor="let device of globalVar.user.favoritDevices"
        [ngSwitch]="device.protocol"
    >
        <div *ngSwitchCase="'onewire'"></div>
        <app-dimmer *ngSwitchCase="'homegear:dimmer'" [device]="device"></app-dimmer>
        <app-shutter *ngSwitchCase="'homegear:shutter'" [device]="device"></app-shutter>
        <app-switch-button *ngSwitchDefault [device]="device"></app-switch-button>
    </div>
</ul>
<div *ngIf="globalVar.user.favoritDevices.length == 0" role="alert" class="alert alert-info">
    Noch keine Favoriten in den <a href="/settings/#/user" class="alert-link">Einstellungen</a> gewählt.
</div> 