ul, ol{
	list-style-type: none;
	padding: 0px;
	margin:0px;
	list-style-type: none;
}
.devicename{
	white-space: nowrap; 
	text-align: inherit;
    color: #292b2c;
    text-overflow:ellipsis;
    overflow:hidden;
    cursor:default;
    margin:auto auto auto 0 !important;
}
.btnRight{
    display: flex;
}

button{
	height: 45px;
	cursor:pointer;
	margin:2px 1px 2px 0px;
	min-width:70px;
	box-sizing: initial;
	border:0px;
	border-radius:0px;
	padding:0;
}

h3, li{
	cursor: default;
}