<div class="card">
    <div class="card-body">
        <h3 class="text-2xl pl-1">
            Räume
        </h3>
        <div class="card mb-1" *ngFor="let room of globalVar.user.devices | ObjNgFor">
            <div class="card-header pl-1 pr-0 py-0">
                <div class="d-flex justify-content-between">
                    <a (click)="room.room.isCollapsed = !room.room.isCollapsed"
                            class="devicename">
                        {{room.room.name}}
                    </a>
                    <div class="">
                        <button class="btnOff" id="btnOff{{room.room.id}}" (click)='switchRoom($event, {"room":room.room,"status":"0"})' >Aus</button>
                        <button class="btnOn" id="btnOn{{room.room.id}}" (click)='switchRoom($event, {"room":room.room,"status":"1"})' >An</button>
                    </div>
                </div>
            </div>
            <div id="collapse{{room.room.id}}" *ngIf=!room.room.isCollapsed class="card-block py-0 pl-1 pr-0">
                <ul class="list-group list-group-flush">
                    <li
                        class=""
                        *ngFor="let device of room.roomdevices| ObjNgFor"
                        [ngSwitch]="device.protocol"
                    >
                        <div *ngSwitchCase="'onewire'"></div>
                        <app-dimmer *ngSwitchCase="'homegear:dimmer'" [device]="device"></app-dimmer>
                        <app-shutter *ngSwitchCase="'homegear:shutter'" [device]="device"></app-shutter>
                        <app-switch-button *ngSwitchDefault [device]="device"></app-switch-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>